# Terraform specific
*.env
.terraform*
*.tfstate*
terraform.tfvars

#Local Azure Functions Development - Azurite Storage
__blobstorage__
__queuestorage__
__azurite_db*__.json

.gen/
_out/
dist/
edmx/
gen/
node_modules/
target/